*{
  margin: 0;
  padding: 0;
}

.body{
  min-height: 100vh;
}
.header {
   display: flex;
   width: 100%;
   background-color: white ;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   font-size: 2.5rem;
   font-family: sans-serif;
}
.title a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    

}
.profile i{
  color: black;
}

.postscontainer{
  margin: 10px 0 10px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.postcontainer{
  margin: 6px;

}


.postimagecontainer{
  display: flex;
  
}

.postimage{
  width: 85vw;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.postinfo{

  background-color: rgb(255, 255, 255);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: black;
  text-decoration: none;
}

.posttitle{
  font-size: 2.5rem;
  padding: 2px;
  text-transform: capitalize;
}

.postcontent{
  display: flex;
  justify-content: space-between;
}

.date{
  display: flex;
  margin: 0 4px;
  color: rgb(107, 104, 104);
}
.date i{
  font-weight: lighter;
  margin: 3px;
}

.readmore{
  margin: 0 8px 0 0;
}
.readmore a{
  text-decoration: none;
  color: gray;
}

.composecontainer{
  padding: 4px 15px;
}

.postpage{
  padding: 4px 15px;
  
}



.footer {
  display: flex;
  width: 100%;
  background-color: transparent ;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.footer a{
  color: black;
  text-decoration: none;
}


